@charset "UTF-8";
/* CSS Document */
@font-face {
  font-family: 'KiwiMaru-Medium';
  src: url('../font/KiwiMaru-Medium.ttf');
}
@font-face {
  font-family: 'KiwiMaru-Regular';
  src: url('../font/KiwiMaru-Regular.ttf');
}
@font-face {
  font-family: 'WalterTurncoat-Regular';
  src: url('../font/WalterTurncoat-Regular.ttf');
}
* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  color: #000;
  font-family: 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, 'sans-serif';
  background: #fff;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}
img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

/* SP用 */
#wrapper {
  width: 100%;
  margin: 0 auto;
}
#topmain {
  margin-top: 60px;
  position: relative;
  /* アニメーションの円がはみ出した分横スクロールが出ないようにする対処 */
  overflow: hidden;
}
#topmain img {
  width: 100%;
}
header {
  padding: 0 6%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 150;
}
#header_inner{
  display: flex;
  justify-content: space-between;
}
header h1 {
  width: 156px;
  padding: 10.225px 0;
}


/*ハンバーガーボタン*/

/*ハンバーガーボタンクリック前*/
/* クリックエリアと位置を指定 */
header .btnHamburger {
  position: relative;
  width: 30px; /* クリックエリアの横幅*/
  height: 20px; /* クリックエリアの高さ*/
  cursor: pointer;
  margin-top: 10px;
}
/* 3本線の1本ごとに共通するスタイルを指定  */
header .btnHamburger .line {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 30px; /* 横幅 */
  height: 4px; /* 1本辺りの高さ */
  background: #595757; /* 線の色 */
/* 適用するプロパティ、変化する時間、変化する速度 */
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
 }
/* 3本線の各線の位置を指定 */
header .btnHamburger .line_01 { top: 0; }
header .btnHamburger .line_02 { top: 8px; }
header .btnHamburger .line_03 { top: 16px; }
/*#coverlayerkクリック前*/
#coverlayer{
  width: 1px;
  background: #fff;
  position: fixed;
  top:0;
  left:0;
  bottom: 0;
  opacity: 0;
  transition: 0.5s;
}
/*navクリック前*/
header nav {
  position: fixed;
  width: 43.2%;
  top: 123px;
  left: -43.2%;
  opacity:0;
  transition: 0.5s;
}

/*ハンバーガーボタンクリック後*/
/* 最上部の線のスタイル */
.btnHamburger.is-active .line_01 {
  top: 8px; /* 上から2番目の線の位置に変更 */
  /* 線を45度回転 */
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* 上から2番目の線のスタイル  */
.btnHamburger.is-active .line_02 {
  opacity: 0; /* 不透明度を下げて線を消す */
}
/* 最下部の線のスタイル */
.btnHamburger.is-active .line_03 {
  top: 8px; /* 上から2番目の線の位置に変更 */
  /* 線を135度回転 */
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/*#coverlayerkクリック後*/
#coverlayer.is-active{
  width: 100%;
  opacity:0.8;
}
/*navクリック後*/
nav.is-active{
  left:50%;
  transform: translateX(-50%);
  opacity: 1;
}


header nav ul li {
  text-align: center;
  margin-bottom: 30px;
}
header nav ul li img {
  width: 55.555%;
  display: block;
  margin: 0 auto;
}
header nav ul li a {
  font-family: "KiwiMaru-Regular";
  line-height: 1;
  text-decoration: none;
  color: #595757;
  display: block;
}

main article {
  padding: 20px 0 60px;
}
main article h2 {
  font-size: 14px;
  font-family: 'KiwiMaru-Regular';
  text-align: center;
  margin-bottom: 20px;
  color: #595757;
  width: 100%;
}
main article h2 span {
  display: block;
  font-size: 20px;
  font-family: 'WalterTurncoat-Regular';
  margin-bottom: 5px;
}
#recommend_attractions {
  background-color: #def496;
}
#recommend_attractions h2 span {
  color: #91b709;
}
#recommend_attractions section {
  width: 100%;
  text-align: center;
  background-color: #f6a1a1;
  border-radius: 51px;
  margin-bottom: 20px;
  color: #fff;
  padding-bottom: 10px;
}
#recommend_attractions section picture,
.recommend_attractions_inner {
  width: 73.066%;
  margin: 0 auto;
}
#recommend_attractions section img {
  border: 10px solid #f6a1a1;
  border-radius: 30px;
}
#recommend_attractions section h3 {
  font-family: 'KiwiMaru-Medium';
  font-size: 18px;
  padding: 1px;
  margin-bottom: 10px;
}
#recommend_attractions section p {
  text-align: left;
}
#more_attractions {
  background-color: #ccfaff;
  padding-right: 6%;
  padding-left: 6%;
}
#more_attractions_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#more_attractions h2 span {
  color: #4ad0de;
}
#more_attractions section {
  width: 48.942%;
  text-align: center;
  color: #595757;
  margin-bottom: 10px;
}
/* TODO:形状は楕円にする */
#more_attractions section img {
  border-radius: 20px;
  border: 7px solid #fff948;
  border-radius: 50px 73px 53px 33px / 25px 26px 27px 45px;
}
#more_attractions section:nth-of-type(2) img,
#more_attractions section:nth-of-type(3) img,
#more_attractions section:nth-of-type(6) img {
  border-color: #e8c1e1;
  border-radius: 30px 52px 53px 42px / 61px 40px 32px 32px;
}
/* TODO:位置はもう少し上 */
#more_attractions section h3 {
  font-family: 'KiwiMaru-Medium';
  line-height: 36px;
  background-color: #fff948;
  position: relative;
  transform: translateY(-5px)
}
#more_attractions section h3:before,#more_attractions section h3:after{
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;
}
/*見出しをリボン型にする設定*/
#more_attractions section h3:before{
  top: 0;
  left: 0;
  border-width: 18px 0px 18px 11px;
  border-color: transparent transparent transparent #ccfaff;
  border-style: solid;
}
#more_attractions section h3:after{
  top: 0;
  right: 0;
  border-width: 18px 11px 18px 0px;
  border-color: transparent #ccfaff transparent transparent;
  border-style: solid;
}

#more_attractions section:nth-of-type(2) h3,
#more_attractions section:nth-of-type(3) h3,
#more_attractions section:nth-of-type(6) h3 {
  background-color: #e8c1e1;
}
#more_attractions section p {
  font-size: 14px;
  text-align: left;
  padding: 6px 11px 11px;
}
#flower_garden {
  padding-right: 6%;
  padding-left: 6%;
}
#flower_garden h2 span {
  color: #f6a1a1;
}
#flower_garden ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.812%;
}
#access {
  padding-right: 13.466%;
  padding-left: 13.466%;
}
#access h2 span {
  color: #f6a1a1;
}
/* TODO:地図の縮尺、場所調整 */
#access iframe {
  width: 100vw;
  height: 300px;
  margin: 0 -13.466vw 10px;
}
#access section:first-of-type {
  margin-bottom: 10px;
}
#access section h3 {
  border-left: 4px solid #e8c1e1;
  padding: 0 10px;
  line-height: 32px;
  color: #595757;
}
#access section p {
  font-size: 14px;
  padding: 10px;
  color: #595757;
}
#bottom-img {
  text-align: right;
}
#bottom-img img {
  width: 65.6%;
  margin-right: 6%;
  transform: translateY(30%);
  position: relative;
  z-index: -1;
}
footer {
  background-color: #f6a1a1;
  color: #fff;
  text-align: center;
  padding: 10px 0 20px;
}
footer img {
  width: 29.041%;
  margin-bottom: 10px;
}
footer p {
  font-size: 12px;
  margin-bottom: 10px;
}
footer small {
  font-size: 10px;
  display: block;
}

/* 上に戻るボタン */
#totop {
  color: #fff;
  background-color: #4ad0de;
  width: 50px;
  height: 50px;
  padding: 5px;
  text-align: center;
  border-radius: 50%;
  border: 3px solid #fff;
  position: fixed;
  z-index: 100;
  bottom: 10px;
  right: 10px;
  display: none;
}

/* 仕切り線 */
.separation {
  position: relative;
  width: 100vw;
}
.separation picture img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: block;
  z-index: 1;
}
.separation-bottom picture img {
  top: 0;
}

/* メインビジュアルのサブイメージアニメーション */
#topmain .subimg {
  position: absolute;
}
#topmain .subimg_left {
  width: 36%;
  top: 27%;
  left: -14%;
}
#topmain .subimg_left img {
  animation: counterClockwise 20s linear infinite;
}
#topmain .subimg_right {
  width: 51%;
  top: -6%;
  right: -20%;
}
#topmain .subimg_right img {
  animation: clockwise 20s linear infinite;
}
@keyframes counterClockwise {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}




/* TAB用 */
@media screen and (min-width: 600px) {
  #topmain .subimg_left {
    width: 28%;
    top: 25%;
    left: -12%;
  } 
  #topmain .subimg_right {
    width: 52%;
    top: -15%;
    right: -22%;
  }
  header {
    padding: 0 10px;
  }
  header nav {
    width: 27.604%;
    top: 181px;
    left: -27.604%;
  }
  main article {
    padding: 40px 0 120px;
  }
  main article h2 {
    font-size: 20px;
    margin-bottom: 40px;
  }
  main article h2 span {
    font-size: 30px;
    margin-bottom: 10px;
  }
  #recommend_attractions section {
    display: flex;
    width: 94.01%;
    padding-bottom: 0;
    margin: 0 auto 40px;
  }
  #recommend_attractions .reverse {
    flex-direction: row-reverse;
  }
  #recommend_attractions section:nth-of-type(odd) {
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  #recommend_attractions section:nth-of-type(even) {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  #recommend_attractions section picture {
    width: 53.462%;
    margin: 0 0;
  }
  #recommend_attractions section img {
    border-radius: 51px;
  }
  #recommend_attractions section h3 {
    font-size: 20px;
    padding-top: 10px;
    margin-bottom: 14px;
  }
  .recommend_attractions_inner {
    width: 37.534%;
  }
  #recommend_attractions section:last-child {
    margin-bottom: 0;
  }
  #more_attractions section {
    width: 31.36%;
    margin-bottom: 30px;
  }
  #more_attractions section:nth-of-type(n + 4) {
    margin-bottom: 0;
  }
  #more_attractions section img {
    border-width: 10px;
  }
  #more_attractions section:nth-of-type(odd) img {
    border-color: #fff948;
    border-radius: 61.4px 89.644px 65.084px 40.524px / 30.7px 31.928px 33.156px 55.26px;
  }
  #more_attractions section:nth-of-type(even) img {
    border-color: #e8c1e1;
    border-radius: 36.84px 63.856px 65.084px 51.576px / 74.908px 49.12px 39.296px 39.296px;
  }
  #more_attractions section:nth-of-type(odd) h3 {
    background-color: #fff948;
  }
  #more_attractions section:nth-of-type(even) h3 {
    background-color: #e8c1e1;
  }
  #more_attractions section h3 {
    line-height: 50px;
    font-size: 20px;
  }
  #more_attractions section h3:before{
    border-width: 25px 0px 25px 8px;
  }
  #more_attractions section h3:after{
    border-width: 25px 8px 25px 0px;
  }
  #more_attractions section p {
    font-size: 16px;
  }
  #flower_garden {
    padding-right: 13.541%;
    padding-left: 13.541%;
  }
  #access {
    padding-right: 13.541%;
    padding-left: 13.541%;
  }
  #access section:first-of-type {
    margin-bottom: 15px;
  }
  #access iframe {
    width: 100%;
    height: 314px;
    margin: 0 0 30px;
  }
  #access section h3 {
    border-width: 5px;
    line-height: 34px;
    font-size: 18px;
  }
  #access section p {
    font-size: 16px;
  }
  #bottom-img img {
    width: 62.5%;
  }
  footer {
    padding-top: 20px;
  }
  footer img {
    width: 27.604%;
    margin-bottom: 20px;
  }
  footer p {
    margin-bottom: 20px;
  }
  footer small {
    font-size: 12px;
  }
}

/* PC用 */
@media screen and (min-width: 980px) {
  #topmain {
    margin-top: 0;
  }
  #topmain .subimg_left {
    width: 34%;
    top: -17%;
    left: -12%;
  } 
  #topmain .subimg_right {
    width: 35%;
    top: 39%;
    right: -13%;
  }
  header {
    position: static;
    padding: 20px 0;
  }
  #header_wrapper{
    display: flex;
    justify-content: space-between;
    width: 980px;
    margin: 0 auto;    
  }
  .fixed {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(255,255,255,0.80);
  }
  header h1 {
    width: 233px;
  }
  header .btnHamburger{
    display: none;
  }
  header nav {
    position: static;
    opacity: 1;
    width: auto;
  }
  header nav ul {
    display: flex;
  }
  header nav ul li {
    width: 150px;
    margin-bottom: 0;
  }
  header nav ul li img {
    width: 84px;
  }
  main article {
    padding: 60px 0 140px;
  }
  main article h2 {
    font-size: 26px;
    margin-bottom: 60px;
  }
  main article h2 span {
    font-size: 44px;
    margin-bottom: 36px;
  }
  #recommend_attractions section {
    width: 1173px;
    margin-bottom: 60px;
  }
  #recommend_attractions section picture {
    width: 565px;
  }
  #recommend_attractions section h3 {
    font-size: 30px;
    padding-top: 60px;
    margin-bottom: 20px;
  }
  #recommend_attractions .recommend_attractions_inner {
    width: 399px;
  }
  #recommend_attractions section:nth-of-type(odd) .recommend_attractions_inner {
    margin-left: 16px;
  }
  #recommend_attractions section:nth-of-type(even) .recommend_attractions_inner {
    margin-right: 16px;
  }
  #more_attractions {
    padding-right: 0;
    padding-left: 0;
  }
  #more_attractions_content {
    width: 980px;
    margin: 0 auto;
  }
  #more_attractions section {
    width: 315px;
  }
  #more_attractions section img {
    width: 295px;
  }
  #more_attractions section:nth-of-type(odd) img {
    border-radius: 90.995px 132.852px 96.454px 60.057px / 45.497px 47.317px 49.137px 81.895px;
  }
  #more_attractions section:nth-of-type(even) img {
    border-radius: 54.597px 94.635px 96.454px 76.436px / 111.014px 72.796px 58.237px 58.237px;
  }
  #more_attractions section h3 {
    line-height: 70px;
    font-size: 28px;
  }
  #more_attractions section h3:before{
    border-width: 35px 0px 35px 16px;
  }
  #more_attractions section h3:after{
    border-width: 35px 16px 35px 0px;
  }
  #more_attractions section p {
    padding: 20px;
  }
  #flower_garden {
    padding-right: 0;
    padding-left: 0;
    width: 810px;
    margin: 0 auto;
  }
  #flower_garden ul {
    gap: 15px;
  }
  #access {
    padding-right: 0;
    padding-left: 0;
    width: 482px;
    margin: 0 auto;
  }
  #access section:first-of-type {
    margin-bottom: 20px;
  }
  #access iframe {
    height: 361px;
    margin-bottom: 40px;
  }
  #access section h3 {
    font-size: 20px;
    border-left-width: 5px;
    line-height: 40px;
  }
  #access section p {
    font-size: 18px;
    padding-left: 15px;
  }
  #bottom-img {
    width: 980px;
    margin: 0 auto;
    text-align: right;
  }
  #bottom-img img {
    width: 731px;
    margin-right: 0;
  }
  footer {
    padding-top: 0;
    padding-bottom: 30px;
  }
  #footer-content {
    width: 980px;
    margin: 0 auto;
    display: flex;
    text-align: right;
    justify-content: space-between;
    height: 180px;
    padding: 60.465px 0;
  }
  footer p {
    font-size: 14px;
  }
  footer img {
    width: 233px;
  }
}
