@charset "UTF-8";
/* CSS Document */
@font-face {
  font-family: 'KiwiMaru-Medium';
  src: url('../font/KiwiMaru-Medium.ttf');
}
@font-face {
  font-family: 'KiwiMaru-Regular';
  src: url('../font/KiwiMaru-Regular.ttf');
}
@font-face {
  font-family: 'WalterTurncoat-Regular';
  src: url('../font/WalterTurncoat-Regular.ttf');
}
* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  color: #000;
  font-family: 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, 'sans-serif';
  background: #fff;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}
img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

/* SP用 */
#wrapper {
  width: 100%;
  margin: 0 auto;
}
header {
  padding: 10px 6%;
}
header h1 {
  width: 42.9%;
}
/* TODO:ハンバーガーメニュー実装する */
nav {
  display: none;
}
nav ul li {
  width: 43.2%;
  text-align: center;
  margin-bottom: 30px;
}
nav ul li img {
  width: 55.555%;
}
nav ul li a {
  text-decoration: none;
  color: #595757;
  display: block;
  height: 48px;
}
/* TODO:なみなみの仕切りを入れる */
main article {
  padding: 20px 0 60px;
}
main article h2 {
  font-size: 14px;
  font-family: 'KiwiMaru-Regular';
  text-align: center;
  margin-bottom: 20px;
  color: #595757;
  width: 100%;
}
main article h2 span {
  display: block;
  font-size: 20px;
  font-family: 'WalterTurncoat-Regular';
  margin-bottom: 5px;
}
#recommend_attractions {
  background-color: #def496;
}
#recommend_attractions h2 span {
  color: #91b709;
}
#recommend_attractions section {
  width: 100%;
  text-align: center;
  background-color: #f6a1a1;
  border-radius: 51px;
  margin-bottom: 20px;
  color: #fff;
}
.recommend_attractions_content {
  width: 73.066%;
  margin: 0 auto;
  padding-bottom: 10px;
}
#recommend_attractions section img {
  border: 10px solid #f6a1a1;
  border-radius: 30px;
}
#recommend_attractions section h3 {
  font-family: 'KiwiMaru-Medium';
  font-size: 18px;
  padding: 1px;
  margin-bottom: 10px;
}
#recommend_attractions section p {
  text-align: left;
}
#more_attractions {
  background-color: #ccfaff;
  padding-right: 6%;
  padding-left: 6%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#more_attractions h2 span {
  color: #4ad0de;
}
#more_attractions section {
  width: 48.942%;
  text-align: center;
  color: #595757;
}
/* TODO:形状は楕円にする */
/* TODO：色が交互になるようにする */
#more_attractions section img {
  border-radius: 20px;
  border: 7px solid #fff948;
}
#more_attractions section:nth-of-type(even) img {
  border-color: #e8c1e1;
}
/* TODO:背景はリボン型にする */
/* TODO:位置はもう少し上 */
#more_attractions section h3 {
  font-family: 'KiwiMaru-Medium';
  line-height: 36px;
  background-color: #fff948;
}
#more_attractions section:nth-of-type(even) h3 {
  background-color: #e8c1e1;
}
#more_attractions section p {
  font-size: 14px;
  text-align: left;
  padding: 11px;
}
#flower_garden {
  padding-right: 6%;
  padding-left: 6%;
}
#flower_garden h2 span {
  color: #f6a1a1;
}
#flower_garden ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.812%;
}
/* TODO:ボーダーの仕切りを入れる */
#access {
  padding-right: 13.466%;
  padding-left: 13.466%;
}
#access h2 span {
  color: #f6a1a1;
}
/* TODO:地図の縮尺、場所調整 */
#access iframe {
  width: 100vw;
  height: 154px;
  margin: 0 -13.466% 10px;
}
#access section h3 {
  border-left: 4px solid #e8c1e1;
  padding: 0 10px;
  line-height: 32px;
}
#access section p {
  font-size: 14px;
  padding: 10px;
}
#footer-img {
  text-align: right;
}
#footer-img img {
  width: 42.9%;
  margin-right: 6%;
  transform: translateY(30%);
}
#footer-content {
  background-color: #f6a1a1;
  padding: 10px 0 20px;
  color: #fff;
  text-align: center;
}
#footer-content img {
  width: 29.041%;
  margin-bottom: 10px;
}
#footer-content p {
  font-size: 12px;
  margin-bottom: 10px;
}
#footer-content small {
  font-size: 10px;
}

/* TAB用 */
@media screen and (min-width: 600px) {
  header {
    padding: 10px;
  }
  header h1 {
    width: 19.251%;
  }
  /* TODO:タブレット用ナビゲーションサイズ調整 */
  main article {
    padding: 40px 0 120px;
  }
}

/* PC用 */
@media screen and (min-width: 960px) {
}
